<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
               status="debug"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/rel/2.14.0/log4j-core/src/main/resources/Log4j-config.xsd">
    <!-- Configuration attribute to debug configuration: status="debug"-->
    <Appenders>
        <Appender type="File" name="File" fileName="${sys:catalina.home:-target}/logs/TestExplorer-4.0.9.log">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
        <!-- <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%-5p %d{HH:mm:ss:SSS} %c{2}: %m%n" />
        </Console> -->
    </Appenders>
    
    <Loggers>
        <!-- When needed to dump HTTP client content
          <Logger name="org.apache.http.wire"> <level
            value="debug" /> </Logger>
        <logger name="org.apache.http" level="error"/>  -->

        <!-- Stop logging warning messages for deprecated methods -->
        <Logger name="org.apache.wicket" level="ERROR" />
        <!--Severity if other subcategory severities are added: <Logger name="org.apache.wicket.ajax" level="ERROR"> -->
        <Logger name="org.apache.wicket.protocol.http.HttpSessionStore" level="INFO"></Logger>
        <Logger name="org.apache.wicket.version" level="INFO"></Logger>
        <Logger name="org.apache.wicket.RequestCycle" level="INFO"></Logger>

        <Logger name="com.axway.ats" level="INFO"></Logger>
        <!-- stop logging messages for each check for existing file/directory -->
        <Logger name="com.axway.ats.core.filesystem.LocalFileSystemOperations" level="WARN"></Logger>

        <!-- Root logger configuration -->
        <Root level="INFO">
            <!-- <AppenderRef ref="Console" /> -->
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
