.chrono, .chrono * {
  outline: none !important;
  -moz-outline: none;
}

axes, axis, plot, line, point, shadow, series, axislegend, bar, barmarker, domainmarker, marker, rangemarker, axislegend, overview, tick, fill {

  color: white;
  background-color: red;
  width: 2px;
  height: 2px;
  font-size: 9pt;
  border-left-width: 1px;
  left: 1px;
  top: 1px;

}

fill {
  background-color: transparent;
  opacity: 0;

}

.chrono, .chronoscope, .cmf-chart {
  -moz-outline: none;
}

.cmf-infowindow {
  display: none
}

.chrono-MenuBar .chrono-MenuItem-selected {
  background-color: #E8EEF7;
}

.chrono-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.chrono-infoWindow {
  max-width: 200px;
  background-color: white;
  padding: 8px;
  -moz-border-radius: 10%;
  border: 1px solid #87B3FF;
  font-family: Verdana;
  font-size: 90%;
}

.chrono-MenuBar .chrono-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

tick {
  color: black;
  border-width: 1px;

}

grid {
  color: transparent;
  width: 0;
  border-width: 0;
  opacity: 0.05;
  visibility: hidden !important;
}

axes axis {
  background-color: white
}

axes axis {

  font-family: Verdana;
  font-size: 10pt;
  color: black;
}

plot {

 /* background-image: url( http://timepedia.org/lineargradient/0,0/0,1/0/00ABEb/1/FFFFFF ) */
  background-color: transparent;
}

plot {
  background-color: white
}

axis label {
  font-size: 10pt;
}

line {
  color: #000040
}

line.focus {
  color: red;
}

.s1 line, axis.a1 label, axis.a1, axis.a1 tick {
  color: rgb( 245, 86, 95 );
}

.s1 fill {
  background-color: rgb( 245, 86, 95 );
  opacity: 0.4;
}

fill {
  background-color: transparent;
  opacity: 0.4;
}

fill.disabled {
  background-color: rgba( 0, 0, 0, 0 );
  opacity: 0;
}

bar {
  color: #008000;
  background-color: #00FF00;
  width: 10px;
  background-image: url( http://timepedia.org/lineargradient/0,0/0,1/0/00FF00/1/0030FF );

}

bar.disabled {
  background-image: none;
}

axis.a0 label, axis.a0 {
  color: rgb( 70, 118, 118 );
}

point {
  color: #FFFFFF;
  background-color: #000080
}

.s0 line, axis.a0 tick {
  color: rgb( 70, 118, 118 );

}

.s0 fill {
  background-color: transparent;
  opacity: 0.4;
}

.s0 point {
  color: #008000;
  background-color: #004000
}


shadow {
  width: 2px;
  top: 2px;
  left: 2px;
  color: gray
}

point {
  width: 2px;
  border-width: 1px;
  visibility: hidden
}

point.hover {
  color: red;
  width: 3px;
  background-color: white;
  visibility: visible;
}

point.focus {
  color: gray;
  width: 5px;
  border-style: solid;
  border-width: 2px;
  visibility: visible;
}

line {
  line-thickness:3px;
}

point shadow {
  width: 1px;
}

series.disabled line {
  opacity: 0.2
}

series.disabled bar {
  opacity: 0.2
}

series.disabled point {
  visibility:hidden
}

series.hover point {
  visibility:visible
}

series.focus point {
  visibility:visible
}

div {
  color: black;
  background-color: transparent
}

chartid.label {
  background-color: rgba( 0, 0, 0, 0 ) !important;
  opacity: 0;
  color: black
}

marker {
  background-color: lightgray;
  color: black;
  border-left-width: 1px;
  font-family: Verdana;
  font-size: 9pt;
}

overview {
  background-color: #99CCFF;
  color: #0099FF;
  opacity: 0.4;
  border-width:1px;
}
